{
  "openapi": "3.0.3",
  "info": {
    "title": "Generect + Reply",
    "description": "Welcome to the Generect API documentation. Here we will help you integrate and use our API.\n\nAPI base url: `api.generect.com`  \nProtocol: `HTTPS`\n\n# Authentication\n\nFirstly, add a `API Token` to the enviroment variables `auth_token` in `Settings` tab.\n\n# Rate limits\n\nCredits: You can request data depending on your data plan and credit balance. The default is 10000/month. The estimated number of credits to spend is based on the complexity of the query and the number of results. The amount spent can be increased by additional data flags in the queries.\n\n# Note\n\n_Ensure that you are add a \"/\" to the end of url._",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.generect.com"
    }
  ],
  "paths": {
    "/api/auth/token/login/": {
      "post": {
        "tags": [
          "1. Auth"
        ],
        "summary": "Token login",
        "description": "Login to account and get `auth_token`",
        "operationId": "tokenLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "example@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "12345678"
                  }
                }
              },
              "examples": {
                "Token login": {
                  "value": {
                    "email": "example@example.com",
                    "password": "12345678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "POST, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "134"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 04 Dec 2024 14:43:33 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Cookie, Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_token": {
                      "type": "string",
                      "example": "0000011111222223333344444555556666677777"
                    },
                    "email": {
                      "type": "string",
                      "example": "example@example.com"
                    },
                    "user_id": {
                      "type": "string",
                      "example": "00000111-1122-2223-3333-444445555566"
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "auth_token": "0000011111222223333344444555556666677777",
                      "email": "example@example.com",
                      "user_id": "00000111-1122-2223-3333-444445555566"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/auth/users/me/": {
      "get": {
        "tags": [
          "1. Auth"
        ],
        "summary": "Get User (me)",
        "description": "Return information about current user",
        "operationId": "getUserMe",
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "GET, PUT, PATCH, DELETE, HEAD, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "872"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 20:45:10 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance_companies_by_icp": {
                      "type": "number",
                      "example": -101
                    },
                    "balance_company_by_link": {
                      "type": "number",
                      "example": 0
                    },
                    "balance_email_finder": {
                      "type": "number",
                      "example": 0
                    },
                    "balance_email_verifier": {
                      "type": "number",
                      "example": 0
                    },
                    "balance_lead_by_link": {
                      "type": "number",
                      "example": -3
                    },
                    "balance_leads_by_icp": {
                      "type": "number",
                      "example": -1719
                    },
                    "balance_platform": {
                      "type": "number",
                      "example": 8531
                    },
                    "beta_tester": {
                      "type": "boolean",
                      "example": false
                    },
                    "blocked_balance_platform": {
                      "type": "number",
                      "example": 0
                    },
                    "consultancy_hours": {
                      "type": "number",
                      "example": 3
                    },
                    "count_parallel_searches": {
                      "type": "number",
                      "example": 0
                    },
                    "count_searches_completed_today": {
                      "type": "number",
                      "example": 0
                    },
                    "count_searches_in_progress_today": {
                      "type": "number",
                      "example": 0
                    },
                    "email": {
                      "type": "string",
                      "example": "admin@example.com"
                    },
                    "full_name": {
                      "type": "string",
                      "example": ""
                    },
                    "icp_flow": {
                      "type": "object",
                      "properties": {
                        "A": {
                          "type": "string",
                          "example": "1"
                        },
                        "active_compaign_count_lead": {
                          "type": "number",
                          "example": 1000
                        },
                        "active_compaign_first_icp": {
                          "type": "string",
                          "example": "true"
                        },
                        "active_compaign_first_lead": {
                          "type": "string",
                          "example": "true"
                        },
                        "active_compaign_first_search": {
                          "type": "string",
                          "example": "true"
                        }
                      }
                    },
                    "is_staff": {
                      "type": "boolean",
                      "example": true
                    },
                    "last_invoice_status": {
                      "type": "boolean",
                      "example": true
                    },
                    "last_password_changed": {
                      "type": "string",
                      "example": "2024-10-30T13:09:31"
                    },
                    "logo": {
                      "nullable": true,
                      "example": null
                    },
                    "max_credits": {
                      "type": "number",
                      "example": 10000
                    },
                    "max_parallel_searches": {
                      "type": "number",
                      "example": 5
                    },
                    "max_searches_daily": {
                      "type": "number",
                      "example": 20
                    },
                    "prev_subscription_status": {
                      "nullable": true,
                      "example": null
                    },
                    "spent_for_emails": {
                      "type": "number",
                      "example": 303
                    },
                    "spent_for_export": {
                      "type": "number",
                      "example": 0
                    },
                    "subscription": {
                      "type": "string",
                      "example": "Business"
                    },
                    "trial_available": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "balance_companies_by_icp": -101,
                      "balance_company_by_link": 0,
                      "balance_email_finder": 0,
                      "balance_email_verifier": 0,
                      "balance_lead_by_link": -3,
                      "balance_leads_by_icp": -1719,
                      "balance_platform": 8531,
                      "beta_tester": false,
                      "blocked_balance_platform": 0,
                      "consultancy_hours": 3,
                      "count_parallel_searches": 0,
                      "count_searches_completed_today": 0,
                      "count_searches_in_progress_today": 0,
                      "email": "admin@example.com",
                      "full_name": "",
                      "icp_flow": {
                        "A": "1",
                        "active_compaign_count_lead": 1000,
                        "active_compaign_first_icp": "true",
                        "active_compaign_first_lead": "true",
                        "active_compaign_first_search": "true"
                      },
                      "is_staff": true,
                      "last_invoice_status": true,
                      "last_password_changed": "2024-10-30T13:09:31",
                      "logo": null,
                      "max_credits": 10000,
                      "max_parallel_searches": 5,
                      "max_searches_daily": 20,
                      "prev_subscription_status": null,
                      "spent_for_emails": 303,
                      "spent_for_export": 0,
                      "subscription": "Business",
                      "trial_available": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/transactions/": {
      "get": {
        "tags": [
          "2. Transactions"
        ],
        "summary": "Get List of Transactions",
        "description": "Return list of latest transactions",
        "operationId": "getListOfTransactions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "100"
            },
            "description": "Limit of transactions in result"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            },
            "description": "Offset  in list of transactions"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "GET, HEAD, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25393"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 20:50:51 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number",
                      "example": 1
                    },
                    "limit": {
                      "type": "number",
                      "example": 100
                    },
                    "max_limit": {
                      "type": "number",
                      "example": 100
                    },
                    "next": {
                      "type": "string",
                      "example": "https://api.generect.com/api/auth/transactions/?limit=100&offset=100"
                    },
                    "offset": {
                      "type": "number",
                      "example": 0
                    },
                    "previous": {
                      "nullable": true,
                      "example": null
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "after_balance": {
                            "type": "number",
                            "example": -3
                          },
                          "amount": {
                            "type": "number",
                            "example": 1
                          },
                          "balance_type": {
                            "type": "string",
                            "example": "lead_by_link"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2024-12-02T20:07:43.284641"
                          },
                          "description": {
                            "type": "string",
                            "example": "refund on transaction 43b5c573-0863-4363-b9cc-98a53f8d25b5"
                          },
                          "id": {
                            "type": "string",
                            "example": "6d4374f4-f1c1-4516-aec0-54cfa7c0d72f"
                          },
                          "status": {
                            "type": "string",
                            "example": "success"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2024-12-02T20:07:43.284650"
                          }
                        }
                      },
                      "example": [
                        {
                          "after_balance": -3,
                          "amount": 1,
                          "balance_type": "lead_by_link",
                          "created_at": "2024-12-02T20:07:43.284641",
                          "description": "refund on transaction 43b5c573-0863-4363-b9cc-98a53f8d25b5",
                          "id": "6d4374f4-f1c1-4516-aec0-54cfa7c0d72f",
                          "status": "success",
                          "updated_at": "2024-12-02T20:07:43.284650"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "count": 1,
                      "limit": 100,
                      "max_limit": 100,
                      "next": "https://api.generect.com/api/auth/transactions/?limit=100&offset=100",
                      "offset": 0,
                      "previous": null,
                      "results": [
                        {
                          "after_balance": -3,
                          "amount": 1,
                          "balance_type": "lead_by_link",
                          "created_at": "2024-12-02T20:07:43.284641",
                          "description": "refund on transaction 43b5c573-0863-4363-b9cc-98a53f8d25b5",
                          "id": "6d4374f4-f1c1-4516-aec0-54cfa7c0d72f",
                          "status": "success",
                          "updated_at": "2024-12-02T20:07:43.284650"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/linkedin/leads/by_link/": {
      "post": {
        "tags": [
          "3. Leads"
        ],
        "summary": "Get Lead by link",
        "description": "**Recommended Timeout:**  \n**100 seconds**\n\n**Parallel requests support:**  \n**Up to 400**\n\n## Additional information\n\n- **Supported input urls example:**\n    \n    - [<b>https://www.linkedin.com/in/boris-johnson</b>](https://www.linkedin.com/in/boris-johnson)\n        \n    - [<b>https://www.linkedin.com/in/boris-johnson</b>](https://www.linkedin.com/in/boris-johnson)**/**\n        \n    - [<b>linkedin.com/in/boris-johnson</b>](https://www.linkedin.com/in/boris-johnson)\n        \n    - [<b>https://in.linkedin.com/in/boris-johnson</b>](https://www.linkedin.com/in/boris-johnson)\n        \n    - [<b>http://linkedin.com/in/boris-johnson</b>](https://www.linkedin.com/in/boris-johnson)\n        \n    - **linkedin.com/pub/...**\n        \n    - **linkedin.com/pub-profile/…**\n        \n    - [<b>http://www.linkedin.com/pub-profile/</b>](http://www.linkedin.com/pub-profile/)**...**\n        \n    - [<b>https://www.linkedin.com/in/ACwAADIiK28BsZHX22c9Rm80fUW3LiXKvcLu1Cc</b>](https://www.linkedin.com/in/ACwAADIiK28BsZHX22c9Rm80fUW3LiXKvcLu1Cc) **(sales id)**\n        \n    - [<b>https://www.linkedin.com/sales/lead/ACwAAA0BOw8BTT9lGuZQWNg9Hd3rK2gHtrjTYOw,NAME_SEARCH,c_8o</b>](https://www.linkedin.com/sales/lead/ACwAAA0BOw8BTT9lGuZQWNg9Hd3rK2gHtrjTYOw,NAME_SEARCH,c_8o)\n        \n- Custom parameter inexact_company = true:\n    \n    - Will find `Company ID` for output datapoint `inexact_company` via company search. Only for cases when lead `company id == None` AND `company_name != empty`.\n        \n- Custom Parameter: `people_also_viewed` allows to fetch up to 20 similar profiles, costs 1 additional credit\n    \n- Custom Parameter `posts` allows to fetch last 20 posts, costs 1 additional credit\n    \n- Custom Parameter `comments` allows to fetch last 20 comments, costs 1 additional credit\n    \n- Multiple parameters pass are allowed (`posts` + `comments` + `people_also_viewed`)\n    \n- In case of response with `500 status code`, please send request again",
        "operationId": "getLeadByLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comments": {
                    "type": "boolean",
                    "example": false
                  },
                  "inexact_company": {
                    "type": "boolean",
                    "example": false
                  },
                  "people_also_viewed": {
                    "type": "boolean",
                    "example": false
                  },
                  "posts": {
                    "type": "boolean",
                    "example": false
                  },
                  "url": {
                    "type": "string",
                    "example": "https://www.facebook.com/in/birama-traor%c3%a9/"
                  }
                }
              },
              "examples": {
                "Get Lead by link": {
                  "value": {
                    "comments": false,
                    "inexact_company": false,
                    "people_also_viewed": false,
                    "posts": false,
                    "url": "https://www.facebook.com/in/birama-traor%c3%a9/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "POST, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "7540"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 19:57:51 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": -1
                    },
                    "lead": {
                      "type": "object",
                      "properties": {
                        "certifications": {
                          "type": "array",
                          "items": {},
                          "example": []
                        },
                        "company_city": {
                          "nullable": true,
                          "example": null
                        },
                        "company_country": {
                          "type": "string",
                          "example": "France"
                        },
                        "company_description": {
                          "type": "string",
                          "example": "ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. \n\nWe are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE \n\n\nTurnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X)."
                        },
                        "company_headcount_range": {
                          "type": "string",
                          "example": "10001+"
                        },
                        "company_id": {
                          "type": "string",
                          "example": "298246"
                        },
                        "company_image": {
                          "type": "string",
                          "example": "https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc"
                        },
                        "company_industry": {
                          "type": "string",
                          "example": "Utilities"
                        },
                        "company_location": {
                          "type": "string",
                          "example": "France"
                        },
                        "company_name": {
                          "type": "string",
                          "example": "ENGIE"
                        },
                        "company_state": {
                          "type": "string",
                          "example": ""
                        },
                        "company_url": {
                          "type": "string",
                          "example": "https://www.linkedin.com/company/engie/"
                        },
                        "company_website": {
                          "type": "string",
                          "example": "https://www.engie.com/en"
                        },
                        "educations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "degree": {
                                "type": "string",
                                "example": "Certificat de formation generale (CFG)"
                              },
                              "ended_on": {
                                "type": "object",
                                "properties": {
                                  "month": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "year": {
                                    "type": "number",
                                    "example": 2023
                                  }
                                },
                                "nullable": true
                              },
                              "fields_of_study": {
                                "type": "array",
                                "nullable": true,
                                "example": null
                              },
                              "started_on": {
                                "type": "object",
                                "properties": {
                                  "month": {
                                    "type": "number",
                                    "example": 3
                                  },
                                  "year": {
                                    "type": "number",
                                    "example": 2023
                                  }
                                }
                              },
                              "university_id": {
                                "type": "string",
                                "nullable": true,
                                "example": "14803"
                              },
                              "university_name": {
                                "type": "string",
                                "example": "CentraleSupelec"
                              }
                            }
                          },
                          "example": [
                            {
                              "degree": "Certificat de formation generale (CFG)",
                              "ended_on": {
                                "month": 5,
                                "year": 2023
                              },
                              "fields_of_study": null,
                              "started_on": {
                                "month": 3,
                                "year": 2023
                              },
                              "university_id": "14803",
                              "university_name": "CentraleSupelec"
                            },
                            {
                              "degree": "Ingenieur",
                              "ended_on": {
                                "year": 2007
                              },
                              "fields_of_study": [
                                "Systeme et Reseau"
                              ],
                              "started_on": {
                                "year": 2002
                              },
                              "university_id": null,
                              "university_name": "EITI"
                            },
                            {
                              "degree": "Certification EasyVista",
                              "ended_on": null,
                              "fields_of_study": null,
                              "started_on": {
                                "year": 2013
                              },
                              "university_id": null,
                              "university_name": "EasyVista"
                            },
                            {
                              "degree": "Certification HP SM 9",
                              "ended_on": null,
                              "fields_of_study": null,
                              "started_on": {
                                "year": 2012
                              },
                              "university_id": null,
                              "university_name": "HP"
                            },
                            {
                              "degree": "Certification ITIL V2",
                              "ended_on": null,
                              "fields_of_study": null,
                              "started_on": {
                                "year": 2012
                              },
                              "university_id": null,
                              "university_name": "ITIL"
                            }
                          ]
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Birama"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "Birama Traoré"
                        },
                        "headline": {
                          "type": "string",
                          "example": "CIO Procurement - Finance - CSR"
                        },
                        "industry": {
                          "type": "string",
                          "example": "IT Services and IT Consulting"
                        },
                        "input_url": {
                          "type": "string",
                          "example": "https://www.linkedin.com/in/birama-traor%c3%a9/"
                        },
                        "is_full_data": {
                          "type": "boolean",
                          "example": true
                        },
                        "is_job_seeker": {
                          "type": "boolean",
                          "example": false
                        },
                        "is_openlink": {
                          "type": "boolean",
                          "example": false
                        },
                        "is_premium": {
                          "type": "boolean",
                          "example": false
                        },
                        "is_retired": {
                          "type": "boolean",
                          "example": false
                        },
                        "job_description": {
                          "nullable": true,
                          "example": null
                        },
                        "job_ended_on": {
                          "nullable": true,
                          "example": null
                        },
                        "job_location": {
                          "type": "string",
                          "example": "Paris et peripherie"
                        },
                        "job_location_city": {
                          "nullable": true,
                          "example": null
                        },
                        "job_location_country": {
                          "type": "string",
                          "example": "Ethiopia"
                        },
                        "job_location_county": {
                          "nullable": true,
                          "example": null
                        },
                        "job_location_state": {
                          "nullable": true,
                          "example": null
                        },
                        "job_started_on": {
                          "type": "string",
                          "example": "Sep 2023"
                        },
                        "job_still_working": {
                          "type": "boolean",
                          "example": true
                        },
                        "job_title": {
                          "type": "string",
                          "example": "CIO Procurement - Finance - CSR"
                        },
                        "jobs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "company_city": {
                                "nullable": true,
                                "example": null
                              },
                              "company_country": {
                                "type": "string",
                                "example": "France"
                              },
                              "company_description": {
                                "type": "string",
                                "example": "ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. \n\nWe are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE \n\n\nTurnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X)."
                              },
                              "company_headcount_range": {
                                "type": "string",
                                "example": "10001+"
                              },
                              "company_id": {
                                "type": "string",
                                "example": "298246"
                              },
                              "company_image": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc"
                              },
                              "company_industry": {
                                "type": "string",
                                "example": "Utilities"
                              },
                              "company_location": {
                                "type": "string",
                                "example": "France"
                              },
                              "company_name": {
                                "type": "string",
                                "example": "ENGIE"
                              },
                              "company_state": {
                                "type": "string",
                                "example": ""
                              },
                              "company_url": {
                                "type": "string",
                                "example": "https://www.linkedin.com/company/engie/"
                              },
                              "company_website": {
                                "type": "string",
                                "example": "https://www.engie.com/en"
                              },
                              "job_description": {
                                "nullable": true,
                                "example": null
                              },
                              "job_ended_on": {
                                "nullable": true,
                                "example": null
                              },
                              "job_location": {
                                "type": "string",
                                "example": "Paris et peripherie"
                              },
                              "job_location_city": {
                                "nullable": true,
                                "example": null
                              },
                              "job_location_country": {
                                "type": "string",
                                "example": "Ethiopia"
                              },
                              "job_location_county": {
                                "nullable": true,
                                "example": null
                              },
                              "job_location_state": {
                                "nullable": true,
                                "example": null
                              },
                              "job_started_on": {
                                "type": "string",
                                "example": "Sep 2023"
                              },
                              "job_still_working": {
                                "type": "boolean",
                                "example": true
                              },
                              "job_title": {
                                "type": "string",
                                "example": "CIO Procurement - Finance - CSR"
                              },
                              "raw_company_name": {
                                "type": "string",
                                "example": "ENGIE"
                              },
                              "raw_job_title": {
                                "type": "string",
                                "example": "CIO Procurement - Finance - CSR"
                              }
                            }
                          },
                          "example": [
                            {
                              "company_city": null,
                              "company_country": "France",
                              "company_description": "ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. \n\nWe are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE \n\n\nTurnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).",
                              "company_headcount_range": "10001+",
                              "company_id": "298246",
                              "company_image": "https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc",
                              "company_industry": "Utilities",
                              "company_location": "France",
                              "company_name": "ENGIE",
                              "company_state": "",
                              "company_url": "https://www.linkedin.com/company/engie/",
                              "company_website": "https://www.engie.com/en",
                              "job_description": null,
                              "job_ended_on": null,
                              "job_location": "Paris et peripherie",
                              "job_location_city": null,
                              "job_location_country": "Ethiopia",
                              "job_location_county": null,
                              "job_location_state": null,
                              "job_started_on": "Sep 2023",
                              "job_still_working": true,
                              "job_title": "CIO Procurement - Finance - CSR",
                              "raw_company_name": "ENGIE",
                              "raw_job_title": "CIO Procurement - Finance - CSR"
                            }
                          ]
                        },
                        "languages": {
                          "type": "array",
                          "items": {},
                          "example": []
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Traoré"
                        },
                        "linkedin_id": {
                          "type": "string",
                          "example": "113966911"
                        },
                        "linkedin_sales_link": {
                          "type": "string",
                          "example": "https://www.linkedin.com/sales/lead/ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14,NAME_SEARCH,OJWs"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "example": "https://www.linkedin.com/in/birama-traor%C3%A9"
                        },
                        "location": {
                          "type": "string",
                          "example": "Greater Paris Metropolitan Region"
                        },
                        "location_city": {
                          "type": "string",
                          "example": ""
                        },
                        "location_country": {
                          "type": "string",
                          "example": "France"
                        },
                        "location_county": {
                          "nullable": true,
                          "example": null
                        },
                        "location_state": {
                          "type": "string",
                          "example": "Ile-de-France"
                        },
                        "middle_name": {
                          "type": "string",
                          "example": ""
                        },
                        "num_of_connections": {
                          "type": "number",
                          "example": 2253
                        },
                        "private_website": {
                          "nullable": true,
                          "example": null
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://media.licdn.com/dms/image/v2/C4D03AQFUuSLnGkiKVA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1625575996700?e=1738800000&v=beta&t=y0ZfbWCCWzmJOHFim2Y5_MSDchOztFjtsqbP61ze_EU"
                        },
                        "raw_company_name": {
                          "type": "string",
                          "example": "ENGIE"
                        },
                        "raw_headline": {
                          "type": "string",
                          "example": "CIO Procurement - Finance - CSR"
                        },
                        "raw_job_title": {
                          "type": "string",
                          "example": "CIO Procurement - Finance - CSR"
                        },
                        "sales_id": {
                          "type": "string",
                          "example": "ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14"
                        },
                        "skills": {
                          "type": "array",
                          "items": {},
                          "example": []
                        },
                        "source": {
                          "type": "string",
                          "example": "lead_by_link"
                        },
                        "summary": {
                          "type": "string",
                          "example": "I have been working in the Information Technology for the last 15 years. I have occupied different consultancy and management roles within the value chain, ranging from Infrastructure ones to transformation lead ones. In these roles I had the privilege to directly manage highly-skilled teams up to 80 people across 5 different geographies. I have managed business IT operations, process and transformation projects.\n\n3 years ago, I joined ENGIE IT as the Head of Enterprise Service Management with notably two major programs in my scope: The Salesforce & Service Now Center Of Excellence - Both initiatives aims to help our client to achieve exponential growth. \n\nMy best contributions are in transformation environments, where we have to lead our teams through changes in business models and culture. I do believe in leadership by example and I like to enable teams and clients to grow and achieve goals they did not think possible.\n\nMy current topics consist of setting up powerful Center of Excellence in order to foster expertise and take it to the next level of the organization in terms of business objectives & value. The goal is to lead transformation and enhance expertise to serve business growth."
                        },
                        "twitter_link": {
                          "nullable": true,
                          "example": null
                        },
                        "unformatted_full_name": {
                          "type": "string",
                          "example": "Birama Traoré"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "amount": -1,
                      "lead": {
                        "certifications": [],
                        "company_city": null,
                        "company_country": "France",
                        "company_description": "ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. \n\nWe are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE \n\n\nTurnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).",
                        "company_headcount_range": "10001+",
                        "company_id": "298246",
                        "company_image": "https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc",
                        "company_industry": "Utilities",
                        "company_location": "France",
                        "company_name": "ENGIE",
                        "company_state": "",
                        "company_url": "https://www.linkedin.com/company/engie/",
                        "company_website": "https://www.engie.com/en",
                        "educations": [
                          {
                            "degree": "Certificat de formation generale (CFG)",
                            "ended_on": {
                              "month": 5,
                              "year": 2023
                            },
                            "fields_of_study": null,
                            "started_on": {
                              "month": 3,
                              "year": 2023
                            },
                            "university_id": "14803",
                            "university_name": "CentraleSupelec"
                          },
                          {
                            "degree": "Ingenieur",
                            "ended_on": {
                              "year": 2007
                            },
                            "fields_of_study": [
                              "Systeme et Reseau"
                            ],
                            "started_on": {
                              "year": 2002
                            },
                            "university_id": null,
                            "university_name": "EITI"
                          },
                          {
                            "degree": "Certification EasyVista",
                            "ended_on": null,
                            "fields_of_study": null,
                            "started_on": {
                              "year": 2013
                            },
                            "university_id": null,
                            "university_name": "EasyVista"
                          },
                          {
                            "degree": "Certification HP SM 9",
                            "ended_on": null,
                            "fields_of_study": null,
                            "started_on": {
                              "year": 2012
                            },
                            "university_id": null,
                            "university_name": "HP"
                          },
                          {
                            "degree": "Certification ITIL V2",
                            "ended_on": null,
                            "fields_of_study": null,
                            "started_on": {
                              "year": 2012
                            },
                            "university_id": null,
                            "university_name": "ITIL"
                          }
                        ],
                        "first_name": "Birama",
                        "full_name": "Birama Traoré",
                        "headline": "CIO Procurement - Finance - CSR",
                        "industry": "IT Services and IT Consulting",
                        "input_url": "https://www.linkedin.com/in/birama-traor%c3%a9/",
                        "is_full_data": true,
                        "is_job_seeker": false,
                        "is_openlink": false,
                        "is_premium": false,
                        "is_retired": false,
                        "job_description": null,
                        "job_ended_on": null,
                        "job_location": "Paris et peripherie",
                        "job_location_city": null,
                        "job_location_country": "Ethiopia",
                        "job_location_county": null,
                        "job_location_state": null,
                        "job_started_on": "Sep 2023",
                        "job_still_working": true,
                        "job_title": "CIO Procurement - Finance - CSR",
                        "jobs": [
                          {
                            "company_city": null,
                            "company_country": "France",
                            "company_description": "ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. \n\nWe are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE \n\n\nTurnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).",
                            "company_headcount_range": "10001+",
                            "company_id": "298246",
                            "company_image": "https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc",
                            "company_industry": "Utilities",
                            "company_location": "France",
                            "company_name": "ENGIE",
                            "company_state": "",
                            "company_url": "https://www.linkedin.com/company/engie/",
                            "company_website": "https://www.engie.com/en",
                            "job_description": null,
                            "job_ended_on": null,
                            "job_location": "Paris et peripherie",
                            "job_location_city": null,
                            "job_location_country": "Ethiopia",
                            "job_location_county": null,
                            "job_location_state": null,
                            "job_started_on": "Sep 2023",
                            "job_still_working": true,
                            "job_title": "CIO Procurement - Finance - CSR",
                            "raw_company_name": "ENGIE",
                            "raw_job_title": "CIO Procurement - Finance - CSR"
                          }
                        ],
                        "languages": [],
                        "last_name": "Traoré",
                        "linkedin_id": "113966911",
                        "linkedin_sales_link": "https://www.linkedin.com/sales/lead/ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14,NAME_SEARCH,OJWs",
                        "linkedin_url": "https://www.linkedin.com/in/birama-traor%C3%A9",
                        "location": "Greater Paris Metropolitan Region",
                        "location_city": "",
                        "location_country": "France",
                        "location_county": null,
                        "location_state": "Ile-de-France",
                        "middle_name": "",
                        "num_of_connections": 2253,
                        "private_website": null,
                        "profile_photo": "https://media.licdn.com/dms/image/v2/C4D03AQFUuSLnGkiKVA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1625575996700?e=1738800000&v=beta&t=y0ZfbWCCWzmJOHFim2Y5_MSDchOztFjtsqbP61ze_EU",
                        "raw_company_name": "ENGIE",
                        "raw_headline": "CIO Procurement - Finance - CSR",
                        "raw_job_title": "CIO Procurement - Finance - CSR",
                        "sales_id": "ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14",
                        "skills": [],
                        "source": "lead_by_link",
                        "summary": "I have been working in the Information Technology for the last 15 years. I have occupied different consultancy and management roles within the value chain, ranging from Infrastructure ones to transformation lead ones. In these roles I had the privilege to directly manage highly-skilled teams up to 80 people across 5 different geographies. I have managed business IT operations, process and transformation projects.\n\n3 years ago, I joined ENGIE IT as the Head of Enterprise Service Management with notably two major programs in my scope: The Salesforce & Service Now Center Of Excellence - Both initiatives aims to help our client to achieve exponential growth. \n\nMy best contributions are in transformation environments, where we have to lead our teams through changes in business models and culture. I do believe in leadership by example and I like to enable teams and clients to grow and achieve goals they did not think possible.\n\nMy current topics consist of setting up powerful Center of Excellence in order to foster expertise and take it to the next level of the organization in terms of business objectives & value. The goal is to lead transformation and enhance expertise to serve business growth.",
                        "twitter_link": null,
                        "unformatted_full_name": "Birama Traoré"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 (Bad url)",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "POST, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "128"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 20:07:43 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": 0
                    },
                    "detail": {
                      "type": "string",
                      "example": "Bad url"
                    },
                    "input_url": {
                      "type": "string",
                      "example": "https://www.facebook.com/in/birama-traor%c3%a9/"
                    },
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "status_code": {
                      "type": "number",
                      "example": 400
                    }
                  }
                },
                "examples": {
                  "400 (Bad url)": {
                    "value": {
                      "amount": 0,
                      "detail": "Bad url",
                      "input_url": "https://www.facebook.com/in/birama-traor%c3%a9/",
                      "status": "error",
                      "status_code": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "POST, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "94"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 19:58:56 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Origin"
                }
              },
              "WWW-Authenticate": {
                "schema": {
                  "type": "string",
                  "example": "Token"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid token header. No credentials provided."
                    },
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "status_code": {
                      "type": "number",
                      "example": 401
                    }
                  }
                },
                "examples": {
                  "401": {
                    "value": {
                      "detail": "Invalid token header. No credentials provided.",
                      "status": "error",
                      "status_code": 401
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/linkedin/leads/by_icp/": {
      "post": {
        "tags": [
          "3. Leads"
        ],
        "summary": "Get List of Leads by ICP",
        "description": "# Additional information:\n\n- **50 Parallel processing available (multiple threads)**\n    \n- **Supported locations:**\n    \n    - [<b>List of Supported Locations</b>](https://docs.google.com/spreadsheets/d/1pNW018ALP5NIenl7nnke8tqJmMsOZGkVdtt1MO9_yQU/edit#gid=0)**.**\n        \n    - **In case of inputting a location which is not listed you will receive a** **`ValidationError`** **(free request), with Hint what location you need to edit.**\n        \n- **Personas rules: (see example request first)**\n    \n    - **Parent List contains a list of personas (list type).**\n        \n    - **1 parameter is Name (string type) - required.**\n        \n    - **2 parameter is Function (list of type strings) - required**\n        \n        - **If words like OR operator.**\n            \n        - **e.g. To look for all marketing and sales titles you have to create** **`[“marketing”, “sales”]`** **function.**\n            \n    - **3 parameter is Seniority (list of type strings) - optional (if not selected, you should pass it as** **`[ ]`** **(empty list) )**\n        \n        - **It works like** [<i><b>Logical_conjunction</b></i>](https://en.wikipedia.org/wiki/Logical_conjunction)**: in conjunction with Functions looks for a 1-to-1 match**\n            \n            - **For example if Seniority passed are** **`[“Head”, “Manager”]`****.**\n                \n        - **e.g. To look for such titles: Head of Marketing, Head of Sales, Manager of Marketing, Manager of Sales - you have to create** **`[“marketing”, “sales”]`** **Function and** **`[“Head”, “Manager”]`** **Seniority.**\n            \n        - **Expands**\n            \n            - **VP automatically search for** **`[VP, SVP, EVP, GVP]`**\n                \n    - **4 parameter is Prohibit Keywords (list of type strings) - optional (if not selected, you should pass it as** **`[ ]`** **(empty list) )**\n        \n        - **When at least 1 of that keyword appears in the** **`Job Title`** **of lead, this lead will be filtered out.**\n            \n    - **In case of bad input you will receive a** **`ValidationError`** **(free request), with Hint what you need to edit.**\n        \n    - **More Persona** _**Bad Examples and Good Practise**_ [<b>you can see here</b>](https://docs.google.com/spreadsheets/d/1pNW018ALP5NIenl7nnke8tqJmMsOZGkVdtt1MO9_yQU/edit#gid=753174520)\n        \n- **limit_by rules:**\n    \n    - **Will return only N-strip of first leads that match input criteria**\n        \n- **company_link supported formats:**\n    \n    - [<b>https://www.linkedin.com/company/reply-io</b>](https://www.linkedin.com/company/reply-io)\n        \n    - [<b>https://www.linkedin.com/company/reply-io/</b>](https://www.linkedin.com/company/reply-io/)\n        \n    - **linkedin.com/company/reply-io**\n        \n    - [<b>https://in.linkedin.com/company/reply-io</b>](https://in.linkedin.com/company/reply-io)\n        \n    - [<b>http://linkedin.com/company/reply-io</b>](http://linkedin.com/company/reply-io)\n        \n    - **linkedin.com/pub/...**\n        \n    - **linkedin.com/pub-profile/…**\n        \n    - [<b>http://www.linkedin.com/pub-profile/</b>](http://www.linkedin.com/pub-profile/)**...**\n        \n    - [<b>https://www.linkedin.com/company/18584851</b>](https://www.linkedin.com/company/18584851) **(sales id)**\n        \n    - [<b>https://www.linkedin.com/sales/company/18584851</b>](https://www.linkedin.com/sales/company/18584851)\n        \n- **company_types:**\n    \n    - **`\"Public Company\"`**, **`\"Educational\"`**, `\"Self Employed\"`, `\"Government Agency\"`\n        \n    - **`\"Non Profit\"`**, **`\"Self Owned\"`**, **`\"Privately Held\"`**, **`\"Partnership\"`**\n        \n- **With Custom Parameter** **`“get_max_leads”`** **you will be able to search up to linkedin limits (**_**2500 results**_**)**\n    \n- **With Custom Parameter** **`“without company”`** **you will be able to for leads details without relations to companies. Limited to 200 searches per day / customer**\n    \n- **Custom Parameters** **`changed_jobs`** **`posted_on_linkedin`** **`mentioned_in_news`** **only with** **`without_company: true`**\n    \n- **Parameter** **`\"company_locations\"`** **\\- companies headquarters locations**\n    \n- **Parameter** **`“company_headcounts”`** **\\- headcounts of companies, vars -** **`[\"1-10\", \"11-50\", \"51-200\", \"201-500\", \"501-1000\", \"1001-5000\", \"5001-10000\", \"10 000+\"]`**\n    \n- **Parameter** **`“exclude_names”`** **\\- skip leads by unformatted full name**\n    \n- **Parameter** **`“filter_empty_vars”`** **\\- skip leads if variables is empty/None/False**\n    \n    - **available - job_started_on, profile_photo, started_at_position, company_website**\n        \n- **Parameter** **`“group”`** **\\- list of groups id**\n    \n- **Parameter** **`“schools”`** **\\- list of schools id**\n    \n- **Parameter** **`“past_company_names”`** **\\- list of past company names**\n    \n- **Parameter** **`“years_in_company”`** **\\- list of ids by time in current company**\n    \n- **Parameter** **`“years_in_position”`** **\\- list of ids by time in current position**\n    \n\n**Time ranges for** **`“years_in_company”`** **&** **`“years_in_position”`**\n\n**1\\. \"Less than 1 year\"**\n\n**2\\. \"1 to 2 years\"**\n\n**3\\. \"3 to 5 years\"**\n\n**4\\. \"6 to 10 years\"**\n\n**5\\. \"More than 10 years\"**",
        "operationId": "getListOfLeadsByIcp",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Get List of Leads by ICP": {
                  "value": "{\r\n    \"company_link\": \"https://www.linkedin.com/company/fette-compacting-gmbh\", // Use \"company_link\" or \"company_id\". One of them required, if without_company=false\r\n    //   \"company_id\": 111111,\r\n    \"without_company\": false,\r\n    \"locations\": [\r\n        // \"Germany\",\r\n        \"Austria\",\r\n        \"Switzerland\"\r\n    ],\r\n    \"personas\": [\r\n        [\r\n            \"Communication\",\r\n            [\r\n                \"Communication\",\r\n                \"Kommunikation\",\r\n                \"Communication\"\r\n            ],\r\n            [],\r\n            [\r\n                \"Assistant\",\r\n                \"Intern\",\r\n                \"Student\"\r\n            ]\r\n        ],\r\n        [\r\n            \"Communications\",\r\n            [\r\n                \"Communications\",\r\n                \"Kommunikation\",\r\n                \"Communications\"\r\n            ],\r\n            [],\r\n            [\r\n                \"Assistant\",\r\n                \"Intern\",\r\n                \"Student\"\r\n            ]\r\n        ]\r\n    ],\r\n    \"limit_by\": 14,\r\n    \"get_max_leads\": true,\r\n    \"exclude_names\": [ // optional, list of str\r\n        \"Volker Reinsch\",\r\n        \"Nathalie Hoffmann\",\r\n        \"Nora Behrens\",\r\n        \"Emanuel da Silva Gomes\",\r\n        \"Kerstin Schaper\",\r\n        \"Angela Hogrefe\"\r\n    ],\r\n    \"filter_empty_vars\": [ // optional, list of str\r\n        \"started_at_position\"\r\n    ]\r\n    // “changed_jobs”: true,\r\n    // “posted_on_linkedin”: true,\r\n    // “mentioned_in_news”: true,\r\n    // \"lead_industries\": [\"Software Development\"],        // optional, list of str, only with without_company=true\r\n    // \"company_locations\": [\"United States\", \"Canada\"],   // optional, list of str\r\n    // \"company_headcounts\": [\"1-10\", \"11-50\"],            // optional, list of str\r\n    // \"company_types\": [\"Partnership\", \"Self Owned\"],     // optional, list of str\r\n    // \"past_company_names\": [\"apple\"],\t        \t    // optional, list of str\r\n    // \"years_in_company\": [1, 2],\t        \t\t        // optional, list of int\r\n    // \"years_in_position\": [1, 2],\t       \t \t        // optional, list of int\r\n    // \"groups\": [123, 456],\t        \t\t\t        // optional, list of int\r\n    // \"schools\": [123, 456]\t        \t\t\t        // optional, list of int\r\n    // \"offset_by\": 1                                   // optinal, only with without_company=true\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 / 200 (Leads not found)",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "example": "POST, OPTIONS"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "70"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 21:10:37 GMT"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "WSGIServer/0.2 CPython/3.11.10"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept, Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "DENY"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": -1
                    },
                    "leads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "certifications": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "company_city": {
                            "type": "string",
                            "example": "Schwarzenbek"
                          },
                          "company_country": {
                            "type": "string",
                            "example": "Germany"
                          },
                          "company_description": {
                            "type": "string",
                            "example": "Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production."
                          },
                          "company_headcount_range": {
                            "type": "string",
                            "example": "501-1000"
                          },
                          "company_id": {
                            "type": "string",
                            "example": "7590254"
                          },
                          "company_image": {
                            "type": "string",
                            "example": "https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_200_200/company-logo_200_200/0/1720783130887/fette_compacting_gmbh_logo?e=1740009600&v=beta&t=jP_aJALpJhdsmjNIpbePqKkzUyp1-Qno9lWH9eV9g9M"
                          },
                          "company_industry": {
                            "type": "string",
                            "example": "Pharmaceutical Manufacturing"
                          },
                          "company_location": {
                            "type": "string",
                            "example": "Schwarzenbek, Schleswig-Holstein, Germany"
                          },
                          "company_name": {
                            "type": "string",
                            "example": "Fette Compacting"
                          },
                          "company_state": {
                            "type": "string",
                            "example": "Schleswig-Holstein"
                          },
                          "company_url": {
                            "nullable": true,
                            "example": null
                          },
                          "company_website": {
                            "type": "string",
                            "example": "http://www.fette-compacting.com"
                          },
                          "educations": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "first_name": {
                            "type": "string",
                            "example": "Nicole"
                          },
                          "full_name": {
                            "type": "string",
                            "example": "Nicole Anderson"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Corporate Communication Manager at Fette Compacting GmbH"
                          },
                          "industry": {
                            "type": "string",
                            "example": "Machinery Manufacturing"
                          },
                          "is_full_data": {
                            "type": "boolean",
                            "example": true
                          },
                          "is_job_seeker": {
                            "type": "boolean",
                            "example": false
                          },
                          "is_openlink": {
                            "type": "boolean",
                            "example": false
                          },
                          "is_premium": {
                            "type": "boolean",
                            "example": false
                          },
                          "is_retired": {
                            "type": "boolean",
                            "example": false
                          },
                          "job_description": {
                            "type": "string",
                            "example": "Conception, elaboration and further development of the global communication strategy (media, budget) as a basis for decision-making for the management. Advising global management on communication issues such as change processes. Coordination, control and implementation of the communication strategy process: putting together international project teams, participating in the communication strategy process as an expert/adviser, writing speeches, specialist articles, press releases, etc., controlling editorial activities, expanding press work, further developing and implementing employer branding activities. www.fette-compacting.com"
                          },
                          "job_ended_on": {
                            "nullable": true,
                            "example": null
                          },
                          "job_location": {
                            "type": "string",
                            "example": "Schwarzenbek, Schleswig-Holstein, Deutschland"
                          },
                          "job_started_on": {
                            "type": "string",
                            "example": "Mar 2023"
                          },
                          "job_still_working": {
                            "type": "boolean",
                            "example": true
                          },
                          "job_title": {
                            "type": "string",
                            "example": "Corporate Communication Manager"
                          },
                          "jobs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "company_city": {
                                  "type": "string",
                                  "example": "Cincinnati"
                                },
                                "company_country": {
                                  "type": "string",
                                  "example": "United States"
                                },
                                "company_description": {
                                  "type": "string",
                                  "example": "ART WORKS IN ANDERSON LLC is a retail company based out of 1115 MAYCLIFFE PL, Cincinnati, Ohio, United States."
                                },
                                "company_headcount_range": {
                                  "type": "string",
                                  "example": "11-50"
                                },
                                "company_id": {
                                  "type": "string",
                                  "example": "63587704"
                                },
                                "company_image": {
                                  "type": "string",
                                  "nullable": true,
                                  "example": null
                                },
                                "company_industry": {
                                  "type": "string",
                                  "example": "Retail"
                                },
                                "company_location": {
                                  "type": "string",
                                  "example": "Cincinnati, Ohio, United States"
                                },
                                "company_name": {
                                  "type": "string",
                                  "example": "Anderson Art Work / Self-employed"
                                },
                                "company_state": {
                                  "type": "string",
                                  "example": "Ohio"
                                },
                                "company_url": {
                                  "type": "string",
                                  "example": "https://www.linkedin.com/company/art-works-in-anderson-llc/"
                                },
                                "company_website": {
                                  "type": "string",
                                  "example": "http://cincinnatiartclasses.com"
                                },
                                "job_description": {
                                  "type": "string",
                                  "example": "http://www.andersonartwork.de/\nhttps://www.facebook.com/AndersonArtWork.de\nhttp://instagram.com/nicoleandersonartwork \nhttp://www.pinterest.com/AndersonAW/"
                                },
                                "job_ended_on": {
                                  "nullable": true,
                                  "example": null
                                },
                                "job_location": {
                                  "type": "string",
                                  "example": "Hamburg und Umgebung, Deutschland"
                                },
                                "job_started_on": {
                                  "type": "string",
                                  "example": "2013"
                                },
                                "job_still_working": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "job_title": {
                                  "type": "string",
                                  "example": "Freelance Artist"
                                },
                                "raw_company_name": {
                                  "type": "string",
                                  "example": "Anderson Art Work / Self-employed"
                                },
                                "raw_job_title": {
                                  "type": "string",
                                  "example": "Freelance Artist"
                                }
                              }
                            },
                            "example": [
                              {
                                "company_city": "Cincinnati",
                                "company_country": "United States",
                                "company_description": "ART WORKS IN ANDERSON LLC is a retail company based out of 1115 MAYCLIFFE PL, Cincinnati, Ohio, United States.",
                                "company_headcount_range": "11-50",
                                "company_id": "63587704",
                                "company_image": null,
                                "company_industry": "Retail",
                                "company_location": "Cincinnati, Ohio, United States",
                                "company_name": "Anderson Art Work / Self-employed",
                                "company_state": "Ohio",
                                "company_url": "https://www.linkedin.com/company/art-works-in-anderson-llc/",
                                "company_website": "http://cincinnatiartclasses.com",
                                "job_description": "http://www.andersonartwork.de/\nhttps://www.facebook.com/AndersonArtWork.de\nhttp://instagram.com/nicoleandersonartwork \nhttp://www.pinterest.com/AndersonAW/",
                                "job_ended_on": null,
                                "job_location": "Hamburg und Umgebung, Deutschland",
                                "job_started_on": "2013",
                                "job_still_working": true,
                                "job_title": "Freelance Artist",
                                "raw_company_name": "Anderson Art Work / Self-employed",
                                "raw_job_title": "Freelance Artist"
                              },
                              {
                                "company_city": "Schwarzenbek",
                                "company_country": "Germany",
                                "company_description": "Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production.",
                                "company_headcount_range": "501-1000",
                                "company_id": "7590254",
                                "company_image": "https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_400_400/company-logo_400_400/0/1720783130887/fette_compacting_gmbh_logo?e=1741219200&v=beta&t=HvwsgIyJYXepYTbSz8ySstMn8d3F9LgQtRtqEeLdqKI",
                                "company_industry": "Pharmaceutical Manufacturing",
                                "company_location": "Schwarzenbek, Schleswig-Holstein, Germany",
                                "company_name": "Fette Compacting",
                                "company_state": "Schleswig Holstein",
                                "company_url": "https://www.linkedin.com/company/fette-compacting-gmbh/",
                                "company_website": "http://www.fette-compacting.com",
                                "job_description": "Conception, elaboration and further development of the global communication strategy (media, budget) as a basis for decision-making for the management. Advising global management on communication issues such as change processes. Coordination, control and implementation of the communication strategy process: putting together international project teams, participating in the communication strategy process as an expert/adviser, writing speeches, specialist articles, press releases, etc., controlling editorial activities, expanding press work, further developing and implementing employer branding activities. www.fette-compacting.com",
                                "job_ended_on": null,
                                "job_location": "Schwarzenbek, Schleswig-Holstein, Deutschland",
                                "job_started_on": "Mar 2023",
                                "job_still_working": true,
                                "job_title": "Corporate Communication Manager",
                                "raw_company_name": "Fette Compacting",
                                "raw_job_title": "Corporate Communication Manager"
                              }
                            ]
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Englisch"
                                },
                                "proficiency": {
                                  "type": "string",
                                  "example": "FULL_PROFESSIONAL"
                                }
                              }
                            },
                            "example": [
                              {
                                "name": "Englisch",
                                "proficiency": "FULL_PROFESSIONAL"
                              },
                              {
                                "name": "Deutsch",
                                "proficiency": "NATIVE_OR_BILINGUAL"
                              }
                            ]
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Anderson"
                          },
                          "linkedin_company_id": {
                            "type": "string",
                            "example": "7590254"
                          },
                          "linkedin_id": {
                            "type": "string",
                            "example": "80282110"
                          },
                          "linkedin_lead_persona": {
                            "type": "string",
                            "example": "Communication"
                          },
                          "linkedin_sales_link": {
                            "type": "string",
                            "example": "https://www.linkedin.com/sales/lead/ACwAAATJAf4BWNxU442ZgFSJw2zzlmG6S3zv-e0,NAME_SEARCH,OJWs"
                          },
                          "linkedin_url": {
                            "type": "string",
                            "example": "https://www.linkedin.com/in/nicole-anderson-profile"
                          },
                          "location": {
                            "type": "string",
                            "example": "Greater Hamburg Area"
                          },
                          "location_city": {
                            "nullable": true,
                            "example": null
                          },
                          "location_country": {
                            "type": "string",
                            "example": "Germany"
                          },
                          "location_county": {
                            "nullable": true,
                            "example": null
                          },
                          "location_state": {
                            "type": "string",
                            "example": "Hamburg"
                          },
                          "middle_name": {
                            "type": "string",
                            "example": ""
                          },
                          "num_of_connections": {
                            "type": "number",
                            "example": 710
                          },
                          "private_website": {
                            "nullable": true,
[...]
