openapi: 3.0.3
info:
  title: Generect API
  description: |-
    Welcome to the Generect API documentation. Here we will help you integrate and use our API.

    API base url: `https://api.generect.com/api/v1/`
    Protocol: `HTTPS`

    # Authentication

    Get your API token from the Generect app settings and send it in the `Authorization` header with the required `Token` prefix.

    Example: `Authorization: Token xxxxxxxxx`

    # Rate limits

    You can request data depending on your data plan and account balance (default: 10000/month). Pricing depends on the operation and the number of results returned, and may increase with additional data flags. For exact pricing, see each endpoint's Pricing section or your billing settings: https://beta.generect.com/settings/billing

    # Note

    _Every endpoint must include the trailing `/`. Requests without the trailing slash may fail._
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.generect.com/api/v1
paths:
  /api/auth/token/login/:
    post:
      tags:
        - 1. Auth
      summary: Token login
      description: Login to account and get `auth_token`
      operationId: tokenLogin
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: example@example.com
                password:
                  type: string
                  example: '12345678'
            examples:
              Token login:
                value:
                  email: example@example.com
                  password: '12345678'
      responses:
        '200':
          description: '200'
          headers:
            Allow:
              schema:
                type: string
                example: POST, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '134'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Wed, 04 Dec 2024 14:43:33 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Cookie, Origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_token:
                    type: string
                    example: '0000011111222223333344444555556666677777'
                  email:
                    type: string
                    example: example@example.com
                  user_id:
                    type: string
                    example: 00000111-1122-2223-3333-444445555566
              examples:
                '200':
                  value:
                    auth_token: '0000011111222223333344444555556666677777'
                    email: example@example.com
                    user_id: 00000111-1122-2223-3333-444445555566
      security:
        - {}
  /api/auth/users/me/:
    get:
      tags:
        - 1. Auth
      summary: Get User (me)
      description: Retrieve the current user's credit balance and account details
      operationId: getUserMe
      responses:
        '200':
          description: '200'
          headers:
            Allow:
              schema:
                type: string
                example: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '872'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 20:45:10 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance_companies_by_icp:
                    type: number
                    example: -101
                  balance_company_by_link:
                    type: number
                    example: 0
                  balance_email_finder:
                    type: number
                    example: 0
                  balance_email_verifier:
                    type: number
                    example: 0
                  balance_lead_by_link:
                    type: number
                    example: -3
                  balance_leads_by_icp:
                    type: number
                    example: -1719
                  balance_platform:
                    type: number
                    example: 8531
                  beta_tester:
                    type: boolean
                    example: false
                  blocked_balance_platform:
                    type: number
                    example: 0
                  consultancy_hours:
                    type: number
                    example: 3
                  count_parallel_searches:
                    type: number
                    example: 0
                  count_searches_completed_today:
                    type: number
                    example: 0
                  count_searches_in_progress_today:
                    type: number
                    example: 0
                  email:
                    type: string
                    example: admin@example.com
                  full_name:
                    type: string
                    example: ''
                  icp_flow:
                    type: object
                    properties:
                      A:
                        type: string
                        example: '1'
                      active_compaign_count_lead:
                        type: number
                        example: 1000
                      active_compaign_first_icp:
                        type: string
                        example: 'true'
                      active_compaign_first_lead:
                        type: string
                        example: 'true'
                      active_compaign_first_search:
                        type: string
                        example: 'true'
                  is_staff:
                    type: boolean
                    example: true
                  last_invoice_status:
                    type: boolean
                    example: true
                  last_password_changed:
                    type: string
                    example: '2024-10-30T13:09:31'
                  logo:
                    nullable: true
                    example: null
                  max_credits:
                    type: number
                    example: 10000
                  max_parallel_searches:
                    type: number
                    example: 5
                  max_searches_daily:
                    type: number
                    example: 20
                  prev_subscription_status:
                    nullable: true
                    example: null
                  spent_for_emails:
                    type: number
                    example: 303
                  spent_for_export:
                    type: number
                    example: 0
                  subscription:
                    type: string
                    example: Business
                  trial_available:
                    type: boolean
                    example: true
              examples:
                '200':
                  value:
                    balance_companies_by_icp: -101
                    balance_company_by_link: 0
                    balance_email_finder: 0
                    balance_email_verifier: 0
                    balance_lead_by_link: -3
                    balance_leads_by_icp: -1719
                    balance_platform: 8531
                    beta_tester: false
                    blocked_balance_platform: 0
                    consultancy_hours: 3
                    count_parallel_searches: 0
                    count_searches_completed_today: 0
                    count_searches_in_progress_today: 0
                    email: admin@example.com
                    full_name: ''
                    icp_flow:
                      A: '1'
                      active_compaign_count_lead: 1000
                      active_compaign_first_icp: 'true'
                      active_compaign_first_lead: 'true'
                      active_compaign_first_search: 'true'
                    is_staff: true
                    last_invoice_status: true
                    last_password_changed: '2024-10-30T13:09:31'
                    logo: null
                    max_credits: 10000
                    max_parallel_searches: 5
                    max_searches_daily: 20
                    prev_subscription_status: null
                    spent_for_emails: 303
                    spent_for_export: 0
                    subscription: Business
                    trial_available: true
  /api/auth/transactions/:
    get:
      tags:
        - 2. Transactions
      summary: Get List of Transactions
      description: Retrieve a log of API usage, including endpoints accessed and credits consumed.
      operationId: getListOfTransactions
      parameters:
        - name: limit
          in: query
          schema:
            type: string
            example: '100'
          description: Limit of transactions in result
        - name: offset
          in: query
          schema:
            type: string
            example: '0'
          description: Offset in list of transactions
      responses:
        '200':
          description: '200'
          headers:
            Allow:
              schema:
                type: string
                example: GET, HEAD, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '25393'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 20:50:51 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    example: 8
                  limit:
                    type: number
                    example: 100
                  max_limit:
                    type: number
                    example: 100
                  next:
                    nullable: true
                    example: null
                  offset:
                    type: number
                    example: 5
                  previous:
                    type: string
                    example: https://api.generect.com/api/auth/transactions/?amount__lte=-5&created_at__range=2025-01-07T00%3A30%3A00%2C2025-12-31&limit=100
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        after_balance:
                          type: number
                          example: -2400
                        amount:
                          type: number
                          example: -10
                        balance_type:
                          type: string
                          example: leads_by_icp
                        created_at:
                          type: string
                          example: '2025-01-07T13:01:15.397996'
                        description:
                          type: string
                          example: leads info by ICP
                        id:
                          type: string
                          example: 51a800b8-5c0c-4f0b-9c3c-459ea2a3fad6
                        status:
                          type: string
                          example: success
                        updated_at:
                          type: string
                          example: '2025-01-07T13:01:58.195959'
                    example:
                      - id: 51a800b8-5c0c-4f0b-9c3c-459ea2a3fad6
                        created_at: '2025-01-07T13:01:15.397996'
                        updated_at: '2025-01-07T13:01:58.195959'
                        status: success
                        balance_type: leads_by_icp
                        amount: -10
                        description: leads info by ICP
                        after_balance: -2400
                      - id: eaea3124-c337-41f2-9258-4a043a7ea877
                        created_at: '2025-01-07T11:27:54.628500'
                        updated_at: '2025-01-07T11:28:40.966949'
                        status: success
                        balance_type: leads_by_icp
                        amount: -10
                        description: leads info by ICP
                        after_balance: -2390
                      - id: 9f57c8e5-43c6-4baf-9777-7754fe481362
                        created_at: '2025-01-07T00:31:06.785495'
                        updated_at: '2025-01-07T00:31:40.788266'
                        status: success
                        balance_type: leads_by_icp
                        amount: -10
                        description: leads info by ICP
                        after_balance: -2380
              examples:
                '200':
                  value:
                    count: 8
                    next: 
                    previous: http://localhost:8000/api/auth/transactions/?amount__lte=-5&created_at__range=2025-01-07T00%3A30%3A00%2C2025-12-31&limit=100
                    limit: 100
                    max_limit: 100
                    offset: 5
                    results:
                      - id: 51a800b8-5c0c-4f0b-9c3c-459ea2a3fad6
                        created_at: '2025-01-07T13:01:15.397996'
                        updated_at: '2025-01-07T13:01:58.195959'
                        status: success
                        balance_type: leads_by_icp
                        amount: -10
                        description: leads info by ICP
                        after_balance: -2400
                      - id: eaea3124-c337-41f2-9258-4a043a7ea877
                        created_at: '2025-01-07T11:27:54.628500'
                        updated_at: '2025-01-07T11:28:40.966949'
                        status: success
                        balance_type: leads_by_icp
                        amount: -10
                        description: leads info by ICP
                        after_balance: -2390
                      - id: 9f57c8e5-43c6-4baf-9777-7754fe481362
                        created_at: '2025-01-07T00:31:06.785495'
                        updated_at: '2025-01-07T00:31:40.788266'
                        status: success
                        balance_type: leads_by_icp
                        amount: -10
                        description: leads info by ICP
                        after_balance: -2380

  /api/auth/transactions/spent_credits/:
    get:
      summary: Fetch spent credits transactions
      description: |
        Retrieve a list of spent credits transactions based on the specified period and date range.
      parameters:
        - name: timezone
          in: query
          description: Timezone for date calculations
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: The aggregation period for transactions
          required: true
          schema:
            type: string
            enum: [day, week, month, quarter, year]
        - name: start_date
          in: query
          description: The start date for the transaction filter (ISO 8601 format)
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: The end date for the transaction filter (ISO 8601 format)
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: A list of transactions for the specified period and date range
          content:
            application/json:
              schema:
                type: object
                properties:
                  spent_credits:
                    type: object
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: number
                    example:
                      "2025-01-01T00:00:00":
                        "/api/linkedin/leads/by_icp/": -4428.0
                        "/api/linkedin/companies/by_icp/": -39.0
                        "/api/linkedin/company/by_link/": -5.0
                        "/api/linkedin/lead/by_link/": -3.0
                        "/api/linkedin/email_finder/": -1.0
                        "platform": -9.0
                      "2024-12-01T00:00:00":
                        "/api/linkedin/leads/by_icp/": -383.0
                        "/api/linkedin/company/by_link/": -17.0
                        "/api/linkedin/companies/by_icp/": -156.0
                        "/api/linkedin/lead/by_link/": -6.0
                        "platform": -12.0
                      "2024-11-01T00:00:00":
                        "/api/linkedin/companies/by_icp/": -101.0
                        "/api/linkedin/leads/by_icp/": -1720.0
                        "platform": -1469.0
                  total_spent_credits:
                    type: number
                    example: -8349.0
      security:
        - apiKey: []

  /api/linkedin/leads/by_link/:
    post:
      tags:
        - 3. Leads
      summary: Get Lead by link
      description: Enrich or update your database with detailed lead information from a provided URL. By default, returns cached data for faster response times. Set up_to_the_second_fresh=true for real-time data retrieval.
      operationId: getLeadByLink
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: https://www.linkedin.com/company/boris-johnson
                inexact_company:
                  type: boolean
                  example: false
                comments:
                  type: boolean
                  example: false
                people_also_viewed:
                  type: boolean
                  example: false
                  description: Include people also viewed data (+1 credit). Default is false.
                posts:
                  type: boolean
                  example: false
                  description: Include posts data (+1 credit). Default is false.
                up_to_the_second_fresh:
                  type: boolean
                  example: true
                  description: Use real-time search instead of cached data. Default is false for faster response times.
                get_full_experience:
                  type: boolean
                  example: false
                  description: By default, only current jobs (where job_still_working == true) are returned. Set to true to return full work history including past positions.
            examples:
              Get Lead by link:
                value:
                  comments: false
                  inexact_company: false
                  people_also_viewed: false
                  posts: false
                  up_to_the_second_fresh: true
                  get_full_experience: false
                  url: https://www.linkedin.com/company/boris-johnson
      responses:
        '200':
          description: '200'
          headers:
            Allow:
              schema:
                type: string
                example: POST, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '7540'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 19:57:51 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    example: -1
                  lead:
                    type: object
                    properties:
                      certifications:
                        type: array
                        items: {}
                        example: []
                      company_city:
                        nullable: true
                        example: null
                      company_country:
                        type: string
                        example: France
                      company_description:
                        type: string
                        example: |-
                          ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. 

                          We are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE 


                          Turnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).
                      company_headcount_range:
                        type: string
                        example: 10001+
                      company_id:
                        type: string
                        example: '298246'
                      company_image:
                        type: string
                        example: https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc
                      company_industry:
                        type: string
                        example: Utilities
                      company_location:
                        type: string
                        example: France
                      company_name:
                        type: string
                        example: ENGIE
                      company_state:
                        type: string
                        example: ''
                      company_url:
                        type: string
                        example: https://www.linkedin.com/company/boris-johnson
                      company_website:
                        type: string
                        example: https://www.engie.com/en
                      educations:
                        type: array
                        items:
                          type: object
                          properties:
                            degree:
                              type: string
                              example: Certificat de formation generale (CFG)
                            ended_on:
                              type: object
                              properties:
                                month:
                                  type: number
                                  example: 5
                                year:
                                  type: number
                                  example: 2023
                              nullable: true
                            fields_of_study:
                              type: array
                              items:
                                nullable: true
                                example: null
                            started_on:
                              type: object
                              properties:
                                month:
                                  type: number
                                  example: 3
                                year:
                                  type: number
                                  example: 2023
                            university_id:
                              type: string
                              nullable: true
                              example: '14803'
                            university_name:
                              type: string
                              example: CentraleSupelec
                        example:
                          - degree: Certificat de formation generale (CFG)
                            ended_on:
                              month: 5
                              year: 2023
                            fields_of_study: null
                            started_on:
                              month: 3
                              year: 2023
                            university_id: '14803'
                            university_name: CentraleSupelec
                          - degree: Ingenieur
                            ended_on:
                              year: 2007
                            fields_of_study:
                              - Systeme et Reseau
                            started_on:
                              year: 2002
                            university_id: null
                            university_name: EITI
                          - degree: Certification EasyVista
                            ended_on: null
                            fields_of_study: null
                            started_on:
                              year: 2013
                            university_id: null
                            university_name: EasyVista
                          - degree: Certification HP SM 9
                            ended_on: null
                            fields_of_study: null
                            started_on:
                              year: 2012
                            university_id: null
                            university_name: HP
                          - degree: Certification ITIL V2
                            ended_on: null
                            fields_of_study: null
                            started_on:
                              year: 2012
                            university_id: null
                            university_name: ITIL
                      first_name:
                        type: string
                        example: Birama
                      full_name:
                        type: string
                        example: Birama Traoré
                      headline:
                        type: string
                        example: CIO Procurement - Finance - CSR
                      industry:
                        type: string
                        example: IT Services and IT Consulting
                      input_url:
                        type: string
                        example: https://www.linkedin.com/company/boris-johnson
                      is_full_data:
                        type: boolean
                        example: true
                      is_job_seeker:
                        type: boolean
                        example: false
                      is_openlink:
                        type: boolean
                        example: false
                      is_premium:
                        type: boolean
                        example: false
                      is_retired:
                        type: boolean
                        example: false
                      job_description:
                        nullable: true
                        example: null
                      job_ended_on:
                        nullable: true
                        example: null
                      job_location:
                        type: string
                        example: Paris et peripherie
                      job_location_city:
                        nullable: true
                        example: null
                      job_location_country:
                        type: string
                        example: Ethiopia
                      job_location_county:
                        nullable: true
                        example: null
                      job_location_state:
                        nullable: true
                        example: null
                      job_started_on:
                        type: string
                        example: Sep 2023
                      job_still_working:
                        type: boolean
                        example: true
                      job_title:
                        type: string
                        example: CIO Procurement - Finance - CSR
                      jobs:
                        type: array
                        items:
                          type: object
                          properties:
                            company_city:
                              nullable: true
                              example: null
                            company_country:
                              type: string
                              example: France
                            company_description:
                              type: string
                              example: |-
                                ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. 

                                We are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE 


                                Turnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).
                            company_headcount_range:
                              type: string
                              example: 10001+
                            company_id:
                              type: string
                              example: '298246'
                            company_image:
                              type: string
                              example: https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc
                            company_industry:
                              type: string
                              example: Utilities
                            company_location:
                              type: string
                              example: France
                            company_name:
                              type: string
                              example: ENGIE
                            company_state:
                              type: string
                              example: ''
                            company_url:
                              type: string
                              example: https://www.linkedin.com/company/engie/
                            company_website:
                              type: string
                              example: https://www.engie.com/en
                            job_description:
                              nullable: true
                              example: null
                            job_ended_on:
                              nullable: true
                              example: null
                            job_location:
                              type: string
                              example: Paris et peripherie
                            job_location_city:
                              nullable: true
                              example: null
                            job_location_country:
                              type: string
                              example: Ethiopia
                            job_location_county:
                              nullable: true
                              example: null
                            job_location_state:
                              nullable: true
                              example: null
                            job_started_on:
                              type: string
                              example: Sep 2023
                            job_still_working:
                              type: boolean
                              example: true
                            job_title:
                              type: string
                              example: CIO Procurement - Finance - CSR
                            raw_company_name:
                              type: string
                              example: ENGIE
                            raw_job_title:
                              type: string
                              example: CIO Procurement - Finance - CSR
                        example:
                          - company_city: null
                            company_country: France
                            company_description: |-
                              ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. 

                              We are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE 


                              Turnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).
                            company_headcount_range: 10001+
                            company_id: '298246'
                            company_image: https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc
                            company_industry: Utilities
                            company_location: France
                            company_name: ENGIE
                            company_state: ''
                            company_url: https://www.linkedin.com/company/engie/
                            company_website: https://www.engie.com/en
                            job_description: null
                            job_ended_on: null
                            job_location: Paris et peripherie
                            job_location_city: null
                            job_location_country: Ethiopia
                            job_location_county: null
                            job_location_state: null
                            job_started_on: Sep 2023
                            job_still_working: true
                            job_title: CIO Procurement - Finance - CSR
                            raw_company_name: ENGIE
                            raw_job_title: CIO Procurement - Finance - CSR
                      languages:
                        type: array
                        items: {}
                        example: []
                      last_name:
                        type: string
                        example: Traoré
                      linkedin_id:
                        type: string
                        example: '113966911'
                      linkedin_sales_link:
                        type: string
                        example: https://www.linkedin.com/sales/lead/ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14,NAME_SEARCH,OJWs
                      linkedin_url:
                        type: string
                        example: https://www.linkedin.com/in/birama-traor%C3%A9
                      location:
                        type: string
                        example: Greater Paris Metropolitan Region
                      location_city:
                        type: string
                        example: ''
                      location_country:
                        type: string
                        example: France
                      location_county:
                        nullable: true
                        example: null
                      location_state:
                        type: string
                        example: Ile-de-France
                      middle_name:
                        type: string
                        example: ''
                      num_of_connections:
                        type: number
                        example: 2253
                      private_website:
                        nullable: true
                        example: null
                      profile_photo:
                        type: string
                        example: https://media.licdn.com/dms/image/v2/C4D03AQFUuSLnGkiKVA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1625575996700?e=1738800000&v=beta&t=y0ZfbWCCWzmJOHFim2Y5_MSDchOztFjtsqbP61ze_EU
                      raw_company_name:
                        type: string
                        example: ENGIE
                      raw_headline:
                        type: string
                        example: CIO Procurement - Finance - CSR
                      raw_job_title:
                        type: string
                        example: CIO Procurement - Finance - CSR
                      sales_id:
                        type: string
                        example: ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14
                      skills:
                        type: array
                        items: {}
                        example: []
                      source:
                        type: string
                        example: lead_by_link
                      summary:
                        type: string
                        example: |-
                          I have been working in the Information Technology for the last 15 years. I have occupied different consultancy and management roles within the value chain, ranging from Infrastructure ones to transformation lead ones. In these roles I had the privilege to directly manage highly-skilled teams up to 80 people across 5 different geographies. I have managed business IT operations, process and transformation projects.

                          3 years ago, I joined ENGIE IT as the Head of Enterprise Service Management with notably two major programs in my scope: The Salesforce & Service Now Center Of Excellence - Both initiatives aims to help our client to achieve exponential growth. 

                          My best contributions are in transformation environments, where we have to lead our teams through changes in business models and culture. I do believe in leadership by example and I like to enable teams and clients to grow and achieve goals they did not think possible.

                          My current topics consist of setting up powerful Center of Excellence in order to foster expertise and take it to the next level of the organization in terms of business objectives & value. The goal is to lead transformation and enhance expertise to serve business growth.
                      twitter_link:
                        nullable: true
                        example: null
                      unformatted_full_name:
                        type: string
                        example: Birama Traoré
              examples:
                '200':
                  value:
                    amount: -1
                    lead:
                      certifications: []
                      company_city: null
                      company_country: France
                      company_description: |-
                        ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. 

                        We are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE 


                        Turnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).
                      company_headcount_range: 10001+
                      company_id: '298246'
                      company_image: https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc
                      company_industry: Utilities
                      company_location: France
                      company_name: ENGIE
                      company_state: ''
                      company_url: https://www.linkedin.com/company/engie/
                      company_website: https://www.engie.com/en
                      educations:
                        - degree: Certificat de formation generale (CFG)
                          ended_on:
                            month: 5
                            year: 2023
                          fields_of_study: null
                          started_on:
                            month: 3
                            year: 2023
                          university_id: '14803'
                          university_name: CentraleSupelec
                        - degree: Ingenieur
                          ended_on:
                            year: 2007
                          fields_of_study:
                            - Systeme et Reseau
                          started_on:
                            year: 2002
                          university_id: null
                          university_name: EITI
                        - degree: Certification EasyVista
                          ended_on: null
                          fields_of_study: null
                          started_on:
                            year: 2013
                          university_id: null
                          university_name: EasyVista
                        - degree: Certification HP SM 9
                          ended_on: null
                          fields_of_study: null
                          started_on:
                            year: 2012
                          university_id: null
                          university_name: HP
                        - degree: Certification ITIL V2
                          ended_on: null
                          fields_of_study: null
                          started_on:
                            year: 2012
                          university_id: null
                          university_name: ITIL
                      first_name: Birama
                      full_name: Birama Traoré
                      headline: CIO Procurement - Finance - CSR
                      industry: IT Services and IT Consulting
                      input_url: https://www.linkedin.com/in/birama-traor%c3%a9/
                      is_full_data: true
                      is_job_seeker: false
                      is_openlink: false
                      is_premium: false
                      is_retired: false
                      job_description: null
                      job_ended_on: null
                      job_location: Paris et peripherie
                      job_location_city: null
                      job_location_country: Ethiopia
                      job_location_county: null
                      job_location_state: null
                      job_started_on: Sep 2023
                      job_still_working: true
                      job_title: CIO Procurement - Finance - CSR
                      jobs:
                        - company_city: null
                          company_country: France
                          company_description: |-
                            ENGIE is a global reference in low-carbon energy and services. With its 97,000 employees, clients, partners and stakeholders, the Group strives every day to accelerate the transition towards a carbon-neutral economy, through reduced energy consumption and more environmentally friendly solutions. Inspired by its purpose statement, ENGIE reconciles economic performance with a positive impact on people and the planet, building on its key businesses (gas, renewable energy, services) to offer competitive solutions to its clients. 

                            We are a united group, committed to inclusiveness and diversity, where everyone can forge their own career path , improve on their skills, and continually enhance their expertise. We work in a caring, flexible, and secure environment that encourages personal and professional development. #WithENGIE 


                            Turnover in 2023: EUR82.6 billion. The Group is listed on the Paris and Brussels stock exchanges (ENGI) and is represented in the main financial indices (CAC 40, Euronext 100, FTSE Euro 100, MSCI Europe) and non-financial indices (DJSI World, Euronext Vigeo Eiris - Europe 120 / France 20, MSCI EMU ESG screened, MSCI EUROPE ESG Universal Select, Stoxx Europe 600 ESG-X).
                          company_headcount_range: 10001+
                          company_id: '298246'
                          company_image: https://media.licdn.com/dms/image/v2/C4D0BAQHQn5EB4SKDyg/company-logo_400_400/company-logo_400_400/0/1630570629615/engie_logo?e=1741219200&v=beta&t=-Ga4LKJPrvzQnNm3PuUG9lkHYwO4IRP1R79TgqSeftc
                          company_industry: Utilities
                          company_location: France
                          company_name: ENGIE
                          company_state: ''
                          company_url: https://www.linkedin.com/company/engie/
                          company_website: https://www.engie.com/en
                          job_description: null
                          job_ended_on: null
                          job_location: Paris et peripherie
                          job_location_city: null
                          job_location_country: Ethiopia
                          job_location_county: null
                          job_location_state: null
                          job_started_on: Sep 2023
                          job_still_working: true
                          job_title: CIO Procurement - Finance - CSR
                          raw_company_name: ENGIE
                          raw_job_title: CIO Procurement - Finance - CSR
                      languages: []
                      last_name: Traoré
                      linkedin_id: '113966911'
                      linkedin_sales_link: https://www.linkedin.com/sales/lead/ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14,NAME_SEARCH,OJWs
                      linkedin_url: https://www.linkedin.com/in/birama-traor%C3%A9
                      location: Greater Paris Metropolitan Region
                      location_city: ''
                      location_country: France
                      location_county: null
                      location_state: Ile-de-France
                      middle_name: ''
                      num_of_connections: 2253
                      private_website: null
                      profile_photo: https://media.licdn.com/dms/image/v2/C4D03AQFUuSLnGkiKVA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1625575996700?e=1738800000&v=beta&t=y0ZfbWCCWzmJOHFim2Y5_MSDchOztFjtsqbP61ze_EU
                      raw_company_name: ENGIE
                      raw_headline: CIO Procurement - Finance - CSR
                      raw_job_title: CIO Procurement - Finance - CSR
                      sales_id: ACwAAAbK_z8BitOI-5PxZa_jkG05STRmNLRaK14
                      skills: []
                      source: lead_by_link
                      summary: |-
                        I have been working in the Information Technology for the last 15 years. I have occupied different consultancy and management roles within the value chain, ranging from Infrastructure ones to transformation lead ones. In these roles I had the privilege to directly manage highly-skilled teams up to 80 people across 5 different geographies. I have managed business IT operations, process and transformation projects.

                        3 years ago, I joined ENGIE IT as the Head of Enterprise Service Management with notably two major programs in my scope: The Salesforce & Service Now Center Of Excellence - Both initiatives aims to help our client to achieve exponential growth. 

                        My best contributions are in transformation environments, where we have to lead our teams through changes in business models and culture. I do believe in leadership by example and I like to enable teams and clients to grow and achieve goals they did not think possible.

                        My current topics consist of setting up powerful Center of Excellence in order to foster expertise and take it to the next level of the organization in terms of business objectives & value. The goal is to lead transformation and enhance expertise to serve business growth.
                      twitter_link: null
                      unformatted_full_name: Birama Traoré
        '400':
          description: 400 (Bad url)
          headers:
            Allow:
              schema:
                type: string
                example: POST, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '128'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 20:07:43 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    example: 0
                  detail:
                    type: string
                    example: Bad url
                  input_url:
                    type: string
                    example: https://www.facebook.com/in/birama-traor%c3%a9/
                  status:
                    type: string
                    example: error
                  status_code:
                    type: number
                    example: 400
              examples:
                400 (Bad url):
                  value:
                    amount: 0
                    detail: Bad url
                    input_url: https://www.facebook.com/in/birama-traor%c3%a9/
                    status: error
                    status_code: 400
        '401':
          description: '401'
          headers:
            Allow:
              schema:
                type: string
                example: POST, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '94'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 19:58:56 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Origin
            WWW-Authenticate:
              schema:
                type: string
                example: Token
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Invalid token header. No credentials provided.
                  status:
                    type: string
                    example: error
                  status_code:
                    type: number
                    example: 401
              examples:
                '401':
                  value:
                    detail: Invalid token header. No credentials provided.
                    status: error
                    status_code: 401
  /api/linkedin/leads/by_icp/:
    post:
      deprecated: true
      tags:
        - 3. Leads
      summary: Get List of Leads by ICP
      description: Search for leads based on your Ideal Customer Profile (ICP). Retrieve leads by criteria or from specified companies.
      operationId: getListOfLeadsByIcp
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_link:
                  type: string
                  description: "Use 'company_link' or 'company_id'. One of them is required"
                company_id:
                  type: integer
                  description: "Optional."
                locations:
                  type: array
                  items:
                    type: string
                personas:
                  type: array
                  items:
                    type: array
                    items:
                      oneOf:
                        - type: string
                        - type: array
                          items:
                            type: string
                    minItems: 4
                limit_by:
                  type: integer
                exclude_names:
                  type: array
                  items:
                    type: string
                exclude_ids:
                  type: array
                  items:
                    type: string
                  description: "Optional, list of sales_id values to exclude from results."
                filter_empty_vars:
                  type: array
                  items:
                    type: string
                changed_jobs:
                  type: boolean
                  description: "Optional, flag to specify if jobs have changed."
                posted_on_linkedin:
                  type: boolean
                  description: "Optional, flag to specify if posted on LinkedIn."
                mentioned_in_news:
                  type: boolean
                  description: "Optional, flag to specify if mentioned in news."
                lead_industries:
                  type: array
                  items:
                    type: string
                  description: "Optional, list of industries."
                company_locations:
                  type: array
                  items:
                    type: string
                  description: "Optional, company locations."
                company_headcounts:
                  type: array
                  items:
                    type: string
                  description: "Optional, company headcounts."
                company_types:
                  type: array
                  items:
                    type: string
                  description: "Optional, company types."
                past_company_names:
                  type: array
                  items:
                    type: string
                  description: "Optional, list of past company names."
                years_in_company:
                  type: array
                  items:
                    type: integer
                  description: "Optional, number of years in a company."
                years_in_position:
                  type: array
                  items:
                    type: integer
                  description: "Optional, number of years in the position."
                groups:
                  type: array
                  items:
                    type: integer
                  description: "Optional, list of group IDs."
                schools:
                  type: array
                  items:
                    type: integer
                  description: "Optional, list of school IDs."
                linkedin_filter_link:
                  type: string
                  description: "Optional, pre-built LinkedIn search URL (Sales Navigator or regular search) containing search filters."
                without_company:
                  type: boolean
                  description: "Optional, set to true to search leads across all companies without company restriction."

            examples:
              Get List of Leads by ICP:
                value:
                  company_link: https://www.linkedin.com/company/slack-technologies
                  locations:
                    - "San Francisco, California, United States"
                    - "New York, New York, United States"
                    - "London, England, United Kingdom"
                  personas:
                    - - "Marketing Leaders"
                      - - "marketing"
                        - "digital marketing"
                        - "growth"
                        - "demand generation"
                        - "brand"
                      - - "Director"
                        - "VP"
                        - "Head"
                        - "Manager"
                      - - "intern"
                        - "coordinator"
                        - "specialist"
                        - "associate"
                    - - "Sales Executives"
                      - - "sales"
                        - "business development"
                        - "revenue"
                        - "enterprise sales"
                        - "account management"
                      - - "VP"
                        - "Director"
                        - "Head"
                        - "Manager"
                      - - "representative"
                        - "coordinator"
                        - "intern"
                        - "junior"
                    - - "Product Managers"
                      - - "product"
                        - "product management"
                        - "product marketing"
                        - "product strategy"
                        - "product operations"
                      - - "VP"
                        - "Director"
                        - "Head"
                        - "Senior"
                      - - "analyst"
                        - "coordinator"
                        - "intern"
                        - "associate"
                  limit_by: 50
                  exclude_names:
                    - "John Smith"
                    - "Sarah Johnson" 
                    - "Michael Brown"
                    - "Emily Davis"
                    - "David Wilson"
                    - "Jennifer Garcia"
                  filter_empty_vars:
                    - "job_started_on"
                    - "profile_photo"
              Get List of Leads using LinkedIn Filter Link:
                value:
                  linkedin_filter_link: "https://www.linkedin.com/sales/search/people?query=(spellCorrectionEnabled%3Atrue%2Ckeywords%3Amarketing%2CfirstName%3A%2ClastName%3A%2Ctitle%3A%2Ccompany%3A%2Cschool%3A%2CcontactInterest%3A%2CnetworkDepth%3A%2Clanguage%3A%2Clocation%3A%2Cindustry%3A%2CcurrentCompany%3A%2CpastCompany%3A%2CprofileLanguage%3A%2CnonprofitInterest%3A%2CfortuneOrGlobal500Size%3A%2CsalesPersona%3A)"
                  limit_by: 100
              Get List of Leads by Company Name:
                value:
                  company_name: "Microsoft"
                  personas:
                    - - "Marketing"
                      - - "marketing"
                        - "digital marketing"
                      - []
                      - []
                  limit_by: 50
              Get List of Leads by Lead Criteria Only:
                value:
                  without_company: true
                  locations:
                    - "New York, New York, United States"
                  personas:
                    - - "Tech Leaders"
                      - - "CTO"
                        - "VP Engineering"
                        - "Tech Director"
                      - - "VP"
                        - "Director"
                      - []
                  limit_by: 100
      responses:
        '200':
          description: 200 / 200 (Leads not found)
          headers:
            Allow:
              schema:
                type: string
                example: POST, OPTIONS
            Content-Length:
              schema:
                type: string
                example: '70'
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 21:10:37 GMT
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Server:
              schema:
                type: string
                example: WSGIServer/0.2 CPython/3.11.10
            Vary:
              schema:
                type: string
                example: Accept, Origin
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: DENY
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: number
                    example: -1
                  leads:
                    type: array
                    items:
                      type: object
                      properties:
                        certifications:
                          type: array
                          items: {}
                          example: []
                        company_city:
                          type: string
                          example: Schwarzenbek
                        company_country:
                          type: string
                          example: Germany
                        company_description:
                          type: string
                          example: Slack is a business communication platform offering persistent workplace chat, private groups, direct messaging, file sharing, and application integration.
                        company_headcount_range:
                          type: string
                          example: 501-1000
                        company_id:
                          type: string
                          example: '7590254'
                        company_image:
                          type: string
                          example: https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_200_200/company-logo_200_200/0/1720783130887/fette_compacting_gmbh_logo?e=1740009600&v=beta&t=jP_aJALpJhdsmjNIpbePqKkzUyp1-Qno9lWH9eV9g9M
                        company_industry:
                          type: string
                          example: Pharmaceutical Manufacturing
                        company_location:
                          type: string
                          example: Schwarzenbek, Schleswig-Holstein, Germany
                        company_name:
                          type: string
                          example: Slack
                        company_state:
                          type: string
                          example: Schleswig-Holstein
                        company_url:
                          nullable: true
                          example: null
                        company_website:
                          type: string
                          example: http://www.fette-compacting.com
                        educations:
                          type: array
                          items: {}
                          example: []
                        first_name:
                          type: string
                          example: Sarah
                        full_name:
                          type: string
                          example: Sarah Chen
                        headline:
                          type: string
                          example: Senior Marketing Director at Slack
                        industry:
                          type: string
                          example: Machinery Manufacturing
                        is_full_data:
                          type: boolean
                          example: true
                        is_job_seeker:
                          type: boolean
                          example: false
                        is_openlink:
                          type: boolean
                          example: false
                        is_premium:
                          type: boolean
                          example: false
                        is_retired:
                          type: boolean
                          example: false
                        job_description:
                          type: string
                          example: 'Conception, elaboration and further development of the global communication strategy (media, budget) as a basis for decision-making for the management. Advising global management on communication issues such as change processes. Coordination, control and implementation of the communication strategy process: putting together international project teams, participating in the communication strategy process as an expert/adviser, writing speeches, specialist articles, press releases, etc., controlling editorial activities, expanding press work, further developing and implementing employer branding activities. www.fette-compacting.com'
                        job_ended_on:
                          nullable: true
                          example: null
                        job_location:
                          type: string
                          example: Schwarzenbek, Schleswig-Holstein, Deutschland
                        job_started_on:
                          type: string
                          example: Mar 2023
                        job_still_working:
                          type: boolean
                          example: true
                        job_title:
                          type: string
                          example: Senior Marketing Director
                        jobs:
                          type: array
                          items:
                            type: object
                            properties:
                              company_city:
                                type: string
                                example: Cincinnati
                              company_country:
                                type: string
                                example: United States
                              company_description:
                                type: string
                                example: ART WORKS IN ANDERSON LLC is a retail company based out of 1115 MAYCLIFFE PL, Cincinnati, Ohio, United States.
                              company_headcount_range:
                                type: string
                                example: 11-50
                              company_id:
                                type: string
                                example: '63587704'
                              company_image:
                                type: string
                                nullable: true
                                example: null
                              company_industry:
                                type: string
                                example: Retail
                              company_location:
                                type: string
                                example: Cincinnati, Ohio, United States
                              company_name:
                                type: string
                                example: Anderson Art Work / Self-employed
                              company_state:
                                type: string
                                example: Ohio
                              company_url:
                                type: string
                                example: https://www.linkedin.com/company/art-works-in-anderson-llc/
                              company_website:
                                type: string
                                example: http://cincinnatiartclasses.com
                              job_description:
                                type: string
                                example: |-
                                  http://www.andersonartwork.de/
                                  https://www.facebook.com/AndersonArtWork.de
                                  http://instagram.com/nicoleandersonartwork 
                                  http://www.pinterest.com/AndersonAW/
                              job_ended_on:
                                nullable: true
                                example: null
                              job_location:
                                type: string
                                example: Hamburg und Umgebung, Deutschland
                              job_started_on:
                                type: string
                                example: '2013'
                              job_still_working:
                                type: boolean
                                example: true
                              job_title:
                                type: string
                                example: Freelance Artist
                              raw_company_name:
                                type: string
                                example: Anderson Art Work / Self-employed
                              raw_job_title:
                                type: string
                                example: Freelance Artist
                          example:
                            - company_city: Cincinnati
                              company_country: United States
                              company_description: ART WORKS IN ANDERSON LLC is a retail company based out of 1115 MAYCLIFFE PL, Cincinnati, Ohio, United States.
                              company_headcount_range: 11-50
                              company_id: '63587704'
                              company_image: null
                              company_industry: Retail
                              company_location: Cincinnati, Ohio, United States
                              company_name: Anderson Art Work / Self-employed
                              company_state: Ohio
                              company_url: https://www.linkedin.com/company/art-works-in-anderson-llc/
                              company_website: http://cincinnatiartclasses.com
                              job_description: |-
                                http://www.andersonartwork.de/
                                https://www.facebook.com/AndersonArtWork.de
                                http://instagram.com/nicoleandersonartwork 
                                http://www.pinterest.com/AndersonAW/
                              job_ended_on: null
                              job_location: Hamburg und Umgebung, Deutschland
                              job_started_on: '2013'
                              job_still_working: true
                              job_title: Freelance Artist
                              raw_company_name: Anderson Art Work / Self-employed
                              raw_job_title: Freelance Artist
                            - company_city: San Francisco
                              company_country: United States
                              company_description: Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production.
                              company_headcount_range: 501-1000
                              company_id: '21828'
                              company_image: https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_400_400/company-logo_400_400/0/1720783130887/fette_compacting_gmbh_logo?e=1741219200&v=beta&t=HvwsgIyJYXepYTbSz8ySstMn8d3F9LgQtRtqEeLdqKI
                              company_industry: Software Development
                              company_location: San Francisco, California, United States
                              company_name: Slack
                              company_state: California
                              company_url: https://www.linkedin.com/company/slack-technologies/
                              company_website: https://slack.com
                              job_description: 'Lead global marketing strategy and demand generation programs to drive customer acquisition and retention. Oversee brand positioning, content marketing, and digital campaigns across all channels. Collaborate with product, sales, and growth teams to accelerate user adoption and revenue growth. Manage marketing budget allocation and performance metrics to optimize ROI and scale marketing operations globally.'
                              job_ended_on: null
                              job_location: San Francisco, California, United States
                              job_started_on: Mar 2023
                              job_still_working: true
                              job_title: Senior Marketing Director
                              raw_company_name: Slack
                              raw_job_title: Senior Marketing Director
                        languages:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: Englisch
                              proficiency:
                                type: string
                                example: FULL_PROFESSIONAL
                          example:
                            - name: Englisch
                              proficiency: FULL_PROFESSIONAL
                            - name: Deutsch
                              proficiency: NATIVE_OR_BILINGUAL
                        last_name:
                          type: string
                          example: Anderson
                        linkedin_company_id:
                          type: string
                          example: '7590254'
                        linkedin_id:
                          type: string
                          example: '80282110'
                        linkedin_lead_persona:
                          type: string
                          example: Marketing Leaders
                        linkedin_sales_link:
                          type: string
                          example: https://www.linkedin.com/sales/lead/ACwAAATJAf4BWNxU442ZgFSJw2zzlmG6S3zv-e0,NAME_SEARCH,OJWs
                        linkedin_url:
                          type: string
                          example: https://www.linkedin.com/in/nicole-anderson-profile
                        location:
                          type: string
                          example: San Francisco, California, United States
                        location_city:
                          nullable: true
                          example: null
                        location_country:
                          type: string
                          example: Germany
                        location_county:
                          nullable: true
                          example: null
                        location_state:
                          type: string
                          example: Hamburg
                        middle_name:
                          type: string
                          example: ''
                        num_of_connections:
                          type: number
                          example: 710
                        private_website:
                          nullable: true
                          example: null
                        profile_photo:
                          type: string
                          example: https://media.licdn.com/dms/image/v2/D4D03AQHdu7xNE9zgIw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1724341778966?e=1738800000&v=beta&t=bEH4zW5MrIkRknwhvnOX5GQYRUOlIg9jib4wpsEWahE
                        raw_company_name:
                          type: string
                          example: Slack
                        raw_headline:
                          type: string
                          example: Senior Marketing Director at Slack
                        raw_job_title:
                          type: string
                          example: Senior Marketing Director
                        sales_id:
                          type: string
                          example: ACwAAATJAf4BWNxU442ZgFSJw2zzlmG6S3zv-e0
                        skills:
                          type: array
                          items: {}
                          example: []
                        summary:
                          type: string
                          example: |-
                            Experienced marketing leader with 8+ years driving growth for B2B SaaS companies. Expert in demand generation, content marketing, and marketing automation platforms. Proven track record of scaling marketing operations from startup to IPO, including leading marketing teams of 20+ professionals. Specialized in product marketing, customer lifecycle campaigns, and conversion optimization.

                            Passionate about data-driven marketing, emerging technologies, and building high-performing teams.
                        twitter_link:
                          nullable: true
                          example: null
                        unformatted_full_name:
                          type: string
                          example: Sarah Chen
                    example:
                      - certifications: []
                        company_city: San Francisco
                        company_country: United States
                        company_description: Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production.
                        company_headcount_range: 501-1000
                        company_id: '21828'
                        company_image: https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_200_200/company-logo_200_200/0/1720783130887/fette_compacting_gmbh_logo?e=1740009600&v=beta&t=jP_aJALpJhdsmjNIpbePqKkzUyp1-Qno9lWH9eV9g9M
                        company_industry: Software Development
                        company_location: San Francisco, California, United States
                        company_name: Slack
                        company_state: California
                        company_url: null
                        company_website: https://slack.com
                        educations: []
                        first_name: Sarah
                        full_name: Sarah Chen
                        headline: Senior Marketing Director at Slack
                        industry: Software Development
                        is_full_data: true
                        is_job_seeker: false
                        is_openlink: false
                        is_premium: false
                        is_retired: false
                        job_description: 'Lead global marketing strategy and demand generation programs to drive customer acquisition and retention. Oversee brand positioning, content marketing, and digital campaigns across all channels. Collaborate with product, sales, and growth teams to accelerate user adoption and revenue growth. Manage marketing budget allocation and performance metrics to optimize ROI and scale marketing operations globally.'
                        job_ended_on: null
                        job_location: San Francisco, California, United States
                        job_started_on: Mar 2023
                        job_still_working: true
                        job_title: Senior Marketing Director
                        jobs:
                          - company_city: Cincinnati
                            company_country: United States
                            company_description: ART WORKS IN ANDERSON LLC is a retail company based out of 1115 MAYCLIFFE PL, Cincinnati, Ohio, United States.
                            company_headcount_range: 11-50
                            company_id: '63587704'
                            company_image: null
                            company_industry: Retail
                            company_location: Cincinnati, Ohio, United States
                            company_name: Anderson Art Work / Self-employed
                            company_state: Ohio
                            company_url: https://www.linkedin.com/company/art-works-in-anderson-llc/
                            company_website: http://cincinnatiartclasses.com
                            job_description: |-
                              http://www.andersonartwork.de/
                              https://www.facebook.com/AndersonArtWork.de
                              http://instagram.com/nicoleandersonartwork 
                              http://www.pinterest.com/AndersonAW/
                            job_ended_on: null
                            job_location: Hamburg und Umgebung, Deutschland
                            job_started_on: '2013'
                            job_still_working: true
                            job_title: Freelance Artist
                            raw_company_name: Anderson Art Work / Self-employed
                            raw_job_title: Freelance Artist
                          - company_city: San Francisco
                            company_country: United States
                            company_description: Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production.
                            company_headcount_range: 501-1000
                            company_id: '21828'
                            company_image: https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_400_400/company-logo_400_400/0/1720783130887/fette_compacting_gmbh_logo?e=1741219200&v=beta&t=HvwsgIyJYXepYTbSz8ySstMn8d3F9LgQtRtqEeLdqKI
                            company_industry: Software Development
                            company_location: San Francisco, California, United States
                            company_name: Slack
                            company_state: California
                            company_url: https://www.linkedin.com/company/slack-technologies/
                            company_website: https://slack.com
                            job_description: 'Lead global marketing strategy and demand generation programs to drive customer acquisition and retention. Oversee brand positioning, content marketing, and digital campaigns across all channels. Collaborate with product, sales, and growth teams to accelerate user adoption and revenue growth. Manage marketing budget allocation and performance metrics to optimize ROI and scale marketing operations globally.'
                            job_ended_on: null
                            job_location: San Francisco, California, United States
                            job_started_on: Mar 2023
                            job_still_working: true
                            job_title: Senior Marketing Director
                            raw_company_name: Slack
                            raw_job_title: Senior Marketing Director
                        languages:
                          - name: Englisch
                            proficiency: FULL_PROFESSIONAL
                          - name: Deutsch
                            proficiency: NATIVE_OR_BILINGUAL
                        last_name: Anderson
                        linkedin_company_id: '21828'
                        linkedin_id: '80282110'
                        linkedin_lead_persona: Marketing Leaders
                        linkedin_sales_link: https://www.linkedin.com/sales/lead/ACwAAATJAf4BWNxU442ZgFSJw2zzlmG6S3zv-e0,NAME_SEARCH,OJWs
                        linkedin_url: https://www.linkedin.com/in/sarah-chen-marketing
                        location: San Francisco, California, United States
                        location_city: null
                        location_country: United States
                        location_county: null
                        location_state: California
                        middle_name: ''
                        num_of_connections: 710
                        private_website: null
                        profile_photo: https://media.licdn.com/dms/image/v2/D4D03AQHdu7xNE9zgIw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1724341778966?e=1738800000&v=beta&t=bEH4zW5MrIkRknwhvnOX5GQYRUOlIg9jib4wpsEWahE
                        raw_company_name: Slack
                        raw_headline: Senior Marketing Director at Slack
                        raw_job_title: Senior Marketing Director
                        sales_id: ACwAAATJAf4BWNxU442ZgFSJw2zzlmG6S3zv-e0
                        skills: []
                        summary: |-
                          Experienced marketing leader with 8+ years driving growth for B2B SaaS companies. Expert in demand generation, content marketing, and marketing automation platforms. Proven track record of scaling marketing operations from startup to IPO, including leading marketing teams of 20+ professionals. Specialized in product marketing, customer lifecycle campaigns, and conversion optimization.

                          Passionate about data-driven marketing, emerging technologies, and building high-performing teams.
                        twitter_link: null
                        unformatted_full_name: Sarah Chen
                  results_count:
                    type: string
                    example: within limit
                  status:
                    type: string
                    example: No leads match with input criteria
              examples:
                '200':
                  value:
                    amount: -1
                    leads:
                      - certifications: []
                        company_city: San Francisco
                        company_country: United States
                        company_description: Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production.
                        company_headcount_range: 501-1000
                        company_id: '21828'
                        company_image: https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_200_200/company-logo_200_200/0/1720783130887/fette_compacting_gmbh_logo?e=1740009600&v=beta&t=jP_aJALpJhdsmjNIpbePqKkzUyp1-Qno9lWH9eV9g9M
                        company_industry: Software Development
                        company_location: San Francisco, California, United States
                        company_name: Slack
                        company_state: California
                        company_url: null
                        company_website: https://slack.com
                        educations: []
                        first_name: Sarah
                        full_name: Sarah Chen
                        headline: Senior Marketing Director at Slack
                        industry: Software Development
                        is_full_data: true
                        is_job_seeker: false
                        is_openlink: false
                        is_premium: false
                        is_retired: false
                        job_description: 'Lead global marketing strategy and demand generation programs to drive customer acquisition and retention. Oversee brand positioning, content marketing, and digital campaigns across all channels. Collaborate with product, sales, and growth teams to accelerate user adoption and revenue growth. Manage marketing budget allocation and performance metrics to optimize ROI and scale marketing operations globally.'
                        job_ended_on: null
                        job_location: San Francisco, California, United States
                        job_started_on: Mar 2023
                        job_still_working: true
                        job_title: Senior Marketing Director
                        jobs:
                          - company_city: Cincinnati
                            company_country: United States
                            company_description: ART WORKS IN ANDERSON LLC is a retail company based out of 1115 MAYCLIFFE PL, Cincinnati, Ohio, United States.
                            company_headcount_range: 11-50
                            company_id: '63587704'
                            company_image: null
                            company_industry: Retail
                            company_location: Cincinnati, Ohio, United States
                            company_name: Anderson Art Work / Self-employed
                            company_state: Ohio
                            company_url: https://www.linkedin.com/company/art-works-in-anderson-llc/
                            company_website: http://cincinnatiartclasses.com
                            job_description: |-
                              http://www.andersonartwork.de/
                              https://www.facebook.com/AndersonArtWork.de
                              http://instagram.com/nicoleandersonartwork 
                              http://www.pinterest.com/AndersonAW/
                            job_ended_on: null
                            job_location: Hamburg und Umgebung, Deutschland
                            job_started_on: '2013'
                            job_still_working: true
                            job_title: Freelance Artist
                            raw_company_name: Anderson Art Work / Self-employed
                            raw_job_title: Freelance Artist
                          - company_city: San Francisco
                            company_country: United States
                            company_description: Fette Compacting is the world's leading provider of integrated solutions for industrial tablet production.
                            company_headcount_range: 501-1000
                            company_id: '21828'
                            company_image: https://media.licdn.com/dms/image/v2/D4E0BAQEuyU0O4IbVRQ/company-logo_400_400/company-logo_400_400/0/1720783130887/fette_compacting_gmbh_logo?e=1741219200&v=beta&t=HvwsgIyJYXepYTbSz8ySstMn8d3F9LgQtRtqEeLdqKI
                            company_industry: Software Development
                            company_location: San Francisco, California, United States
                            company_name: Slack
                            company_state: California
                            company_url: https://www.linkedin.com/company/slack-technologies/
                            company_website: https://slack.com
                            job_description: 'Lead global marketing strategy and demand generation programs to drive customer acquisition and retention. Oversee brand positioning, content marketing, and digital campaigns across all channels. Collaborate with product, sales, and growth teams to accelerate user adoption and revenue growth. Manage marketing budget allocation and performance metrics to optimize ROI and scale marketing operations globally.'
                            job_ended_on: null
                            job_location: San Francisco, California, United States
                            job_started_on: Mar 2023
                            job_still_working: true
                            job_title: Senior Marketing Director
                            raw_company_name: Slack
                            raw_job_title: Senior Marketing Director
                        languages:
                          - name: Englisch
                            proficiency: FULL_PROFESSIONAL
                          - name: Deutsch
                            proficiency: NATIVE_OR_BILINGUAL
                        last_name: Anderson
                        linkedin_company_id: '21828'
                        linkedin_id: '80282110'
                        linkedin_lead_persona: Marketing Leaders
                        linkedin_sales_link: https://www.linkedin.com/sales/lead/ACwAAATJAf4BWNxU442ZgFSJw2zzlmG6S3zv-e0,NAME_SEARCH,OJWs
                        linkedin_url: https://www.linkedin.com/in/sarah-chen-marketing
                        location: San Francisco, California, United States
                        location_city: null
[...]
